<span class="position-absolute back-button"><%= link_to '<i class="fas fa-angle-left"></i> Volver'.html_safe, articles_path %></span>

<h1 class="article-title">Editar Artículo</h1>

<div class="content">

	<%= render "form", article: @article %>

</div>

